
.homeWrapper h2 {
    text-align: right;
    margin-top: 60px;
    font-size: 20px;
  
}

.articles {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.articles a {
    width: 23%;
}